<h1 class="text-center mb-4">Todolisto</h1>

<%= render 'layouts/task_form'  %>

<div class="container">
  <div id="tabs">
  <% @categories.each do |category|%>
  <ul id="<%=category.id%>"><%= category.title %></ul>
  <div class="card">
    <ul>
      <% category.tasks.each do |task|  %>
      <li>
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
</div>

<!-- <div id="carrousel">
  <% @tasks.each do |task|  %>
      <% unless task.image.nil? %>
        <%= image_tag task.image, class: "rounded-circle" %>
      <% end %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
-->
