<nav id="myTopnav" class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <%= link_to "📃 Todolisto", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to "New task", new_task_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Listo", tasks_path, class: "nav-link"%>
      </li>
    </ul>

    <div class="dropdown-avatar">
      <img class="rounded-circle" height="50px" width="50px" src="https://media.giphy.com/media/RhusSiOBE5k64/giphy.gif">
    <div class="dropdown-menu">
      <% unless user_signed_in? %>
      <li class="nav-item" id="login">
        <button class="modal-login">Log in</button>
      </li>
      <li class="nav-item" id="signup">
        <button class="modal-signup">Sign up</button>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      <% end %>
    </div>
    </div>
</div>

</nav>

<!-- Responsive navbar -->
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "navbar navbar-expand-lg navbar-light bg-light") {
          x.className += "responsive";
      } else {
          x.className = "navbar navbar-expand-lg navbar-light bg-light";
      }
    }
</script>
